<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Se o arquivo ou pasta existir, serve normalmente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Caso contrário, redireciona para index.html (SPA)
  RewriteRule ^ index.html [L]
</IfModule>
